@model Student

@{
    ViewData["Title"] = "Izmeni studenta";
}

<h2>Izmeni studenta</h2>

<div class="row">
    <div class="col-md-4" >
        <form asp-action="Edit" method="post" class="row g-3">
                <div class="col-md-6">
                    <label asp-for="Jmbg" class="form-label"></label>
                    <input asp-for="Jmbg" class="form-control" />
                    <span asp-validation-for="Jmbg" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Phone" class="form-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="EmergencyContactName" class="form-label"></label>
                    <input asp-for="EmergencyContactName" class="form-control" />
                    <span asp-validation-for="EmergencyContactName" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="EmergencyContactPhone" class="form-label"></label>
                    <input asp-for="EmergencyContactPhone" class="form-control" />
                    <span asp-validation-for="EmergencyContactPhone" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Snimi</button>
                    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}